@import "../tailwind/components.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: theme("colors.primary");
    --color-secondary: theme("colors.secondary");
    --color-info: theme("colors.info");
    --color-neutral: theme("colors.neutral");
    --color-success: theme("colors.success");
    --color-warning: theme("colors.warning");
    --color-error: theme("colors.error");
    --color-gradiant-first: theme("colors.gradient-first");
    --color-gradiant-second: theme("colors.gradient-second");
  }
  html {
    font-family: var(--font-vazir);
  }

  :lang(en) {
    font-family: var(--font-figtree);
  }
}

.gradiant {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-gradient-first to-gradient-second;
}
